body {
    margin: 0px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
h1{ 
    padding-top: 30px;
    font-family: 'Press Start 2P', cursive;
    font-size: 27px;
}
.game-container{
    margin: 0px auto;
    width: 70vw;
    height: 401px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-box{
    width: 320px;
    height: 400px;
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    border: 2px outset rgb(255, 255, 255);
    background-color: rgb(182, 180, 174);
}
button {
    padding: 20px;
    margin: 20px;
}
.gamePiece {
    margin: 0px;
    height: 27px;
    width: 27px;
    border: 4px outset rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    visibility: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#reset{
    visibility: hidden;
}
#timeBomb{
    height: 50px;
    width: 320px;
    background-color: black;
    align-self: flex-start;
    display: flex;
}
#timer{
    flex-grow: 2;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    margin: 5px;
    color: rgb(255, 29, 29);
    background-color: black;
}
#lossDisplay {
    flex-grow: 2;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    margin: 5px;
    color: rgb(255, 29, 29);
    background-color: black;
}
#bombDisplay{
    flex-grow: 2; 
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    font-size: 13px;
    padding: 10px;
    margin: 5px;
    color: rgb(255, 29, 29);
    background-color: black;
}