body {
    margin: 0px;
    text-align: center;
}
.game-container{
    margin: 0px auto;
    width: 70vw;
    height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-box{
    width: 320px;
    height: 450px;
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
}
button {
    padding: 20px;
    margin: 20px;
}
.gamePiece {
    margin: 0px;
    height: 33px;
    width: 33px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
    visibility: hidden;
}
#reset{
    visibility: hidden;
}
#timeBomb{
    height: 50px;
    width: 320px;
    
    align-self: flex-start;
    display: flex;
}
#timer{
    flex-grow: 2;
   
    padding: 10px;
    text-align: right;
    font-size: 15px;
    margin: 5px;
}
#lossDisplay {
    flex-grow: 2;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    margin: 5px;
}
#bombDisplay{
    flex-grow: 2; 
   
    text-align: left;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
}